<ul class="usa-card-group margin-x-2 small-only project-card-group">
    <li class="usa-card tablet:grid-col-4 project-card__statventures">
        <div class="usa-card__container">
            <div class="usa-card__header">
                <h2 class="usa-card__heading">StatVentures</h2>
            </div>
            <div class="usa-card__media usa-card__media--exdent">
                <div class="usa-card__img">
                    <img src="../assets/img/projects/statventures-logo-group.png" alt="The Opportunity Project Logo" />
                </div>
            </div>
            <div class="usa-card__body">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
            </div>
    </li>
    <li class="usa-card tablet:grid-col-4 project-card__data-usability">
        <div class="usa-card__container">
            <div class="usa-card__header">
                <h2 class="usa-card__heading">Data Usability</h2>
            </div>
            <div class="usa-card__media usa-card__media--exdent">
                <div class="usa-card__img">
                    <img src="../assets/img/projects/data-usability.png" alt="A placeholder image" />
                </div>
            </div>
            <div class="usa-card__body">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
            </div>
    </li>
    <li class="usa-card tablet:grid-col-4 project-card__top">
        <div class="usa-card__container">
            <div class="usa-card__header">
                <h2 class="usa-card__heading">The Opportunity Project</h2>
            </div>
            <div class="usa-card__media usa-card__media--exdent">
                <div class="usa-card__img">
                    <img src="../assets/img/projects/top-full-white-logo.png" alt="The Opportunity Project Logo" />
                </div>
            </div>
            <div class="usa-card__body">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
            </div>
    </li>
</ul>