<div class="usa-accordion usa-accordion--multiselectable" id="accordion-values" data-allow-multiple>
    <h3>Phases</h3>
    <h4 class="usa-accordion__heading">
        <button type="button" class="usa-accordion__button" aria-expanded="true" aria-controls="m-a2">
            Phase 01 Concept
        </button>
    </h4>
    <div id="m-a2" class="usa-accordion__content usa-prose">
        <h5>October to January</h5>
        <p>
            Propose an idea to improve U.S. Census data sources. Ten of the most innovative and promising ideas
            will be
            awarded $10,000 and their submitters will be invited to join the inaugural StatVentures cohort.
        </p>
    </div>
    <h4 class="usa-accordion__heading">
        <button type="button" class="usa-accordion__button" aria-expanded="false" aria-controls="m-a3">
            Phase 02 Roadmap
        </button>
    </h4>
    <div id="m-a3" class="usa-accordion__content usa-prose">
        <h5>Spring 2023</h5>
        <p>
            Iterate on your idea from phase 1, with direct collaboration and feedback from the U.S. Census
            Bureau team.
            Finalists with the most promising roadmaps will receive awards to move from plan to prototype.
            Missed phase 1?
            Don’t worry, new “walk on” teams have the opportunity to join in phases 2 and 3.
        </p>
    </div>
    <h4 class="usa-accordion__heading">
        <button type="button" class="usa-accordion__button" aria-expanded="false" aria-controls="m-a4">
            Phase 03 Test
        </button>
    </h4>
    <div id="m-a4" class="usa-accordion__content usa-prose">
        <h5>Late 2023</h5>
        <p>
            Build your prototype and test it in real-world scenarios. Prototype demos are evaluated on their
            potential to
            serve the U.S. Census Bureau’s mission and goals, and ultimately have the opportunity to be awarded
            additional
            funds and pursue adoption by the U.S. Census Bureau.
        </p>
    </div>
</div>

