<section id="collaborate-section">
        <div class="grid-row flex-align-center desktop:flex-justify-center margin-top-7 collaborate-section-container">
            <h2 class="margin-y-0">Collaborate With Us</h2>
            <a href="mailto:census.openinnovationlabs@census.gov?subject=Collaborate with COIL" class="text-uppercase text-white coil-btn ">Email COIL</a>
            <img class="grid-col-2 display-none desktop:display-inline collaborate-section-icon" src="/assets/img/icons/about_collaborate_email_asset.png" alt="">
            <a class="text-white display-none desktop:display-inline" target="_blank" href="mailto:census.openinnovationlabs@census.gov?subject=Collaborate with COIL"  rel="noopener">census.openinnovationlabs@census.gov</a>

        </div>
</section>