<section id="collaborate-section">
    <div class="grid-container">
        <div class="grid-row flex-align-center margin-y-7">
            <h2 class="grid-col margin-y-0  text-center font-sans-lg">Collaborate with us</h2>
            <img class="grid-col" src="/assets/img/icons/list-item-v4.svg" alt="">
            <a class="text-white grid-col" target="_blank" href="mailto:census.openinnovationlabs@census.gov?subject=Collaborate with COIL"  rel="noopener">census.openinnovationlabs@census.gov</a>
        </div>
    </div>
</section>