{% assign capabilities = page.coil-capabilities %}
<section class="usa-section" id="capabilities">
    <div class="grid-container">
        <!-- <div class="grid-col"> -->
            <h2 class="margin-y-7">Our Capabilities</h2>
            <div class="display-flex">
                {% if page.name == "about.md" %}
                <img class="display-none desktop:display-inline-block capabilities-icon margin-x-4" src="{{site.baseurl}}/assets/img/icons/desktop_about_capabilities_line_feature.png" alt="">

                {% endif %}
                <ul class="usa-list usa-list--unstyled display-flex flex-row flex-wrap capabilities-list">
                    {% for capability in capabilities %}
                <li class="border-top grid-col-full margin-y-2">
                    {% if page.name == "about.md" %}
                    <h3>{{ capability.name }}</h3>
                    <p>{{ capability.blurb }}</p>
                    {% else %}
                    <h3 class="text-normal">{{ capability.name }}</h3>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            </div>
        <!-- </div> -->
    </div>
</section>