<section id="collaborate-section">
    <div class="grid-container">
        <div class="grid-row flex-align-center margin-y-7">
            <h2 class="grid-col-fill margin-y-0  text-center font-sans-lg">Collaborate with us</h2>
            <img class="grid-col-4 collaborate-section-icon" src="/assets/img/icons/about_collaborate_email_asset.png" alt="">
            <a class="text-white grid-col-fill" target="_blank" href="mailto:census.openinnovationlabs@census.gov?subject=Collaborate with COIL"  rel="noopener">census.openinnovationlabs@census.gov</a>
        </div>
    </div>
</section>