<ul id="featured-projects-list" class="featured-projects-list grid-row display-none desktop:display-flex">
  <li id="project-item-statventures" class="featured-projects-item highlight-project project-item-statventures">
    <a href="{{site.baseurl}}/statventures/" target="_blank" class="text-no-underline">
      <div>
        <p class="blurb">The future of Census&nbsp;Bureau data.</p>
        <img src="{{site.baseurl}}/assets/img/logos/statventures_placard_logo.png" alt="StatVentures Logo"
          class="statventures-logo-img">
      </div>
    </a>
  </li>
  <li id="project-item-data-usability" class="featured-projects-item grid-col project-item-data-usability">
    <a href="{{site.baseurl}}/portfolio#program-data-usability" target="_blank" class="text-no-underline">
    <div>
      <p class="blurb">Improving access to data resources.</p>
      <p class="name">Data Usability</p>
    </div>
  </a>
  </li>
  <li id="project-item-top" class="featured-projects-item grid-col project-item-top">
    <a href="https://opportunity.census.gov/" target="_blank" class="text-no-underline">
    <div>
        <p class="blurb">Digital tools for the public good.</p>
        <img src="{{site.baseurl}}/assets/img/logos/top-full-white-logo.png" alt="The Opportunity Project Logo" class="top-logo-img">
      </div>
    </a>
  </li>
</ul>