{% assign capabilities = page.coil-capabilities %}
<section class=" usa-section capabilities">
    <div class="grid-container">
        <div class="grid-col">
            <h2>Our Capabilities</h2>
            <ul class="usa-list usa-list--unstyled display-flex grid-row flex-wrap flex-justify-center capabilities-list">
                {% for capability in capabilities %}
                <li class="grid-col-3 margin-y-2">
                    <h3>{{ capability.name }}</h3>
                    <p>{{ capability.blurb }}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>