<section class="cr-coil-projects large-only">
    <img src="../assets/img/statventures/icons/star.png" alt="placeholder">
    <div class="cr-coil-projects-blurb">
        <h3>Lorem projects</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia atque neque dolore inventore labore fuga aperiam laudantium? Tempore quisquam soluta sunt adipisci, fugit quidem accusamus eligendi neque, ea error laboriosam?</p>
    </div>
</section>

<section class="cr-coil-projects small-only">
    <img src="../assets/img/statventures/icons/star.png" alt="placeholder">
    <h3>Lorem projects small</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia atque neque dolore inventore labore fuga aperiam laudantium? Tempore quisquam soluta sunt adipisci, fugit quidem accusamus eligendi neque, ea error laboriosam?</p>
    <a href="#" target="_blank" rel="noopener noreferrer">Link</a>
</section>