{% assign posts = include.posts %}

<section class="post-preview grid-container">
    <ul class="post-preview-container">
        {% if posts %}
            {% for post in posts %}
                <li class="individual-post-item">
                    <article class="individual-post-preview">
                        {%if post.src %}
                        <div class="individual-post-img-container">
                            <img class="post-img" src="{{site.baseurl}}{{post.src}}" alt="">
                        </div>
                        {% endif %}
                        <div class="individual-post-content">
                            <h3 class="post-project">{{post.project}}</h3>
                            <h2 class="post-title">
                                <a href="{{post.url | prepend: site.baseurl/}}">{{ post.title}}</a>
                            </h2>

                            <p class="post-byline">
                                <span>
                                    By
                                    {% for author in post.authors %}
                                    {{author}}
                                    {% endfor %}
                                </span>
                            </p>
                            <p class="post-excerpt">{{ post.excerpt }}</p>
                        </div>
                    </article>
                </li>
            {% endfor %}
        {% else %}
        No posts
        {% endif %}
    </ul>

</section>