@use "sass:math";
@use "sass:list";
@import './custom/links.scss';

html,
body {
  @include typeset("lang");
  height: 100%;
  display: flex;
  flex-direction: column;
}

footer {
  flex-grow: 1;
}

.footer-section-bottom {
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.8);

  width: 90%;
  margin: 0 auto;
  justify-content: center;
}

.dark-mode {
  @include u-bg('base-darkest');
  @include u-text('white');
  // @include white-links;
}

.light-mode {
  @include u-bg('white');
  @include u-color('black');
}

.small-only {
  @include at-media('tablet'){
    display: none;
  }
}
.large-only {
  @include at-media-max('tablet'){
    display: none;
  }
}

$coil-left-padding: 4;
$coil-left-padding-wide: 10;
$dotted-border:  1px dotted color('white');

/*****************
 * Typography
 ****************/
h1 {
  @include u-font('sans', '2xl');
  @include u-margin(0);
}
h2 {
  @include u-font('sans', 'xl');
}

h2, h3 {
  // &:not(.usa-section--dark), &:not(.usa-dark-background) {
  a {
    @include u-color('base-darkest');
  }
}

a[href="mailto:census.openinnovationlabs@census.gov"] {
  word-break: break-all;
}

$left-dash-width: 50%;
.dashed {  // based on https://jsfiddle.net/j0y7uaqL/
  width: 100vw;
  overflow: visible;
  white-space: nowrap;
  padding-left: 0 !important;
  transform: translateX(-$left-dash-width);
  h3 {
    display: inline;
  }
  &:before, &:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    border-bottom: 1px dotted color('base-light');
  }
  &:before {
    width: $left-dash-width;
  }
  &:after {
    width: 80%;
    margin: 0 -55% 0 units($coil-left-padding) * .25;
  }
}



/***************
 * Layout
 ****************/

.coil-header {
  @include u-position('sticky');
  @include u-top('neg-2px');
  @include u-bg('base-darkest');
  @include white-links;
  @include u-border-bottom('2px', 'white');
  @include u-padding-y(2);
}
.coil-navbar {
  @include u-padding-x(3);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  a {
    text-transform: uppercase;
    @include u-font("mono", "3xs");
  }
}

.coil-section {
  @include u-padding-top(15);
  @include u-padding-bottom(8);
  overflow-x: hidden;
  &:first-of-type, &:nth-child(2) {
    @include u-border-top(0);
  }
  &:nth-last-child(2) {
    @include u-padding-top(8);
    @include u-padding-bottom(10);
  }
  &:last-of-type {
    @include u-padding-bottom(15);
    @include u-border-top(1px, 'white');
    @include u-border-bottom(1px, 'white');
  }
}

.coil-hero {
  @include u-margin-top(0);
}

.coil-project-lg, .project-large-text, .coil-card-container {
  scroll-margin-top: 7em;
}

.coil-project-lg {
  @include grid-col(12);
  @include u-margin-y(2);
  .project-content {
    @include u-radius('md');

  }
  @include at-media('tablet') {
    @include grid-col(6);
  }
  a {
    text-decoration: underline;
  }
  .project-headers, .project-details {
    @include u-padding-x(2);
  }
  
  &:first-child {
    @include grid-col(12);
    .project-large-text:first-child{
      @include u-border-bottom(1px);
    }
    @include at-media('tablet') {
      .project-content {
        @include grid-row;
        .project-texts {
          @include grid-col(9);
          .project-large-text {
            @include grid-row;
            @include u-border-right(1px);
          }
          .project-headers {
            @include grid-col(6);
          }
          .project-details {
            @include grid-col(6)
          }
        }
        picture {
          @include grid-col(3);
          @include u-order(6);
          img {
            height: 100%;
            object-position: 70% 30%;
          }
        }
      }
    }
  }
  .project-content{
    border: 1px solid color('base-dark');
    @include u-height('full');
  }
  picture img {
    width: 100%;
    @include u-height('card');
    object-fit: cover;
    object-position: center 37%;
  }
}

.coil-card-container {
  @include grid-col(12);
  @include u-margin-bottom(2);
  @include at-media('mobile-lg'){
    @include grid-col(6);
  }
  @include at-media('tablet') {
    @include grid-col(4);
  }
}
.coil-project-card {
  @include u-height('full');
  @include u-padding(2);
  @include u-border('1px', 'black');
  @include u-radius('md');
  a {
    text-decoration: underline;
  }
  &__with-tags {
    @extend .coil-project-card;
    @include u-border(0);
    @include u-padding-y(1);
  }
}

.project-tags {
  @include u-margin-y(1);
}
.project-tag {
  @include u-font('sans', '3xs');
  @include u-text('uppercase');
  @include u-padding-x('05');
  @include u-border('1px', dotted);
  @include u-radius('pill');
  &__comm, &__faci, &__expe, &__prod, &__tale {
    @extend .project-tag;
  }
  &__comm {
    @include u-color('orange-warm-50v');
  }
  &__faci {
    @include u-color('blue-50v')
  }
  &__expe {
    @include u-color('green-cool-50v');
  }
  &__tale {
    @include u-color('indigo-cool-80v');
  }
  &__prod {
    @include u-color('red-cool-50v');
  }
}

.coil-help-list {
  list-style-type: '\2713';
  
  li {
    @include u-padding-left(1);
  }
}

.coil-bio {
  @include u-margin-bottom(4);
  @include grid-col(6);
  @include at-media('mobile-lg') {
    @include grid-col(4);
  }
  @include at-media('tablet') {
    img {
      @include u-maxh('mobile');
    }
    @include grid-col(3);
  }
}
.coil-bio__image {
  border: $dotted-border;
}
.coil-bio__text {
  text-align: left;
  // @include at-media('tablet') {
  //   padding-left: 1.6rem;
  // }
  h3, p {
    @include u-margin-y(0);
  }
}

.coil-bio__email {
  @include u-font('sans', '3xs');
  overflow-wrap: anywhere;
}

.abstract-icon {
  @include u-maxh(15);
  @include u-margin-top(6);
}

// statventures
// colors
  //  blue #0050D8-- color('blue-warm-60v')
  // black #13192F -- color('indigo-cool-90')
  // white #F6F8FB -- color('gray-cool-2') 
  // yellow #F9C636 color('gold-20v')
  // red #DE4317 -- color('red-warm-50v')
  // special blue #15295E --  color('indigo-80v') 
// fonts
  // Poppins
// 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
// @font-face {
//   font-family: "Poppins";
//   src: url('{{ site.baseurl }}/assets/fonts/{{page.font.regular}}');
//   src: url('{{ site.baseurl }}/assets/fonts/{{page.font.regular}}') format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face {
//   font-family: "Poppins";
//   src: url('{{ site.baseurl }}/assets/fonts/{{page.font.semi-bold}}');
//   src: url('{{ site.baseurl }}/assets/fonts/{{page.font.semi-bold}}') format('truetype');
//   font-weight: 600;
//   font-style: normal;
// }
// @font-face {
//   font-family: "Poppins";
//   src: url('{{ site.baseurl }}/assets/fonts/{{page.font.extra-bold}}');
//   src: url('{{ site.baseurl }}/assets/fonts/{{page.font.extra-bold}}') format('truetype');
//   font-weight: 700;
//   font-style: normal;
// }
.statventures {
  //  fonts

  & * {
    font-family:'Poppins','Public Sans Web','Silka',Helvetica, Arial, sans;
    line-height: 1.6;
  }

  h1 {
    font-size: 2.5rem;
    font-family: 'Poppins';
  }

  h3, h4, h5 {
    font-family: 'Poppins';
  }

  p {
    font-family: "Poppins";
    font-weight: normal;
  }

 background: color('gray-cool-2');
 & > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include u-padding-x(2);
  }


 h1.visually-hidden { 
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute !important;
    height: 1px; 
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
    clip: rect(1px, 1px, 1px, 1px); /*maybe deprecated but we need to support legacy browsers */
    clip-path: inset(50%); /*modern browsers, clip-path works inwards from each corner*/
    white-space: nowrap; /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
  }

 > header {
  justify-content: space-between;
  // border: 2px dotted white;

  &.bar {
    flex-flow: row nowrap;
    background-color:color('gray-cool-2');
    border-bottom: color('blue-warm-60v') 1px solid;
    position: fixed;
    width: 100%;
    z-index: 99;
    top: 0;
    color: color('blue-warm-60v');
  }
  
  & .logo-container {
    width: 83.16px;
    height: 71px;
  }

  img {
    object-fit: contain;
    min-width: 0;
    

    &.logo-img-blue {
      min-height: 71px;
      aspect-ratio: auto;
    }
  }
  
  &.splash, 
  &.splash-secondary {
    // @include grid-container;
    flex-direction: row-reverse;
    align-items: center;
    // border: 4px solid pink;
    padding: 0;

    & section {
      @include u-padding-x(2);
    }

    & figure {
      display: flex;
      flex-flow: column;
      justify-content: center;
      max-width: 50%;
      height: auto;
      margin: 0;
      // aspect-ratio: 961/962;
      @include at-media(tablet) {
        @include grid-col(6);
      }

     & img {
        width: 100%;
        &.mobile-only {
          @include at-media('desktop') {
            // media query that hides after x screen width
            display: none;
          }
        }
      }
    // ! Need to tweak to make cpation visible on IMG hover
      & figcaption {
        position: relative;
        background-color: black;
        bottom: 30px;
        margin-bottom: -30px;
        z-index: 9;
        // visibility: hidden;
        color: white;


        &:hover {
          visibility: visible;
        }
      }
    }

    & section {
      @include at-media(desktop) {
        @include grid-col(6);
      }
    
    }

  }

  &.splash {
    color: color('blue-warm-60v');
    & .usa-button--outline {
      color: color('blue-warm-60v');
      box-shadow: inset 0 0 0 2px color('blue-warm-60v');;
    }
    & figure {
      width: 50%;
      // background-image: url(/assets/img/statventures/photos/data-processor-img.png);
      background-position: right bottom;
      background-blend-mode: soft-light;
      // background-color: color('indigo-cool-90');
      flex-direction: column;
      justify-content: center;
      align-items: center;      
      background-repeat: no-repeat;
      background-size: contain;
    }

    & img {
      width: 100%;
    }
  }

  &.splash-secondary {
    text-align: center;
  }

  @media (max-width: 'desktop') {
    display: none;
  }
  
// Round by myself


/* Element | http://127.0.0.1:4000/statventure.html */

// div.content-container:nth-child(4) {
//   padding: 62px 144px;
//   width: 100%;
//   border-radius: 40px;
// }

/* styles.css | http://127.0.0.1:4000/assets/uswds/css/styles.css */

// .statventure > section.challenge-intro--static-content .content-container .split-paragraph p {
  /* padding: 0 20px; */
  /* width: 50%; */
//   width: max-content;
//   margin: 0;
// }

/* Element | http://127.0.0.1:4000/statventure.html */

// div.content-container:nth-child(4) > p:nth-child(1) {
//   margin-right: 20px;
// }

/* Element | http://127.0.0.1:4000/statventure.html */

// div.content-container:nth-child(4) > p:nth-child(2) {
//   margin: ;
//   margin-left: 20px;
// }




  section.scrolling-words-container {
    display: flex;
    font-size: 4rem;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
    position: relative;
    z-index:-1;
    font-weight: bold;

    div.scrolling-words-box {
      height: 5.5rem;
      overflow: hidden;
        ul {
          margin: 0;
          padding: 0;
          animation: scrollUp 4s infinite;
  
          li {
              display: flex;
              align-items: center;
              justify-content: flex-end;
              height: 5rem;
              list-style: none;
              width: fit-content; 
          }
        }
    }

  }
  
  
 }
 >section {
   &>* {
     display: flex;
     flex-flow: row wrap;
     align-items: center;
     justify-content: center;
   }

   background: color('gold-20v');
  //  border: 4px solid pink;

   &.mobile-only {
     @include at-media('desktop') {
       // media query that hides after x screen width
       display: none;
     }
   }

    &.challenge-intro--mobile {
      background: color('indigo-cool-90');
      color: color('gray-cool-2');

      #accordion-intro h4.usa-accordion__heading button {
        background-color: color('blue-warm-60v');
        color: color('gray-cool-2');
        background-blend-mode: color-burn;
      }

      #accordion-intro,
      #accordion-phases {

        & [aria-expanded="true"],
        & [aria-expanded="false"] {
          // filter:brightness(5);
        }
      }

      #m-a1 {
        background-color: color('indigo-80v');
        color: color('gray-cool-2');
        border-bottom: 1px solid color('gray-cool-2');
      }

      #accordion-phases,
      #accordion-phases h4.usa-accordion__heading button,
      #m-a2,
      #m-a3,
      #m-a4 {
        background-color: color('indigo-cool-90');
        color: color('gray-cool-2');
        border-bottom: 1px solid color('gray-cool-2');
        margin-top: 0;
      }

      h4.usa-accordion__heading:nth-child(2) {
        border-top: color('gray-cool-2') solid 1px;
      }


      #accordion-phases h5 {
        color: color('gold-20v');
      }

      & .accordion-phases & .usa-accordion__heading {
        background: color('indigo-cool-90');

      }

    }

   &.challenge-intro--static-content {
      background: color('indigo-cool-90') url(/assets/img/statventures/textures/grid-bg-texture.png);
      background-size: contain;
      color: color('gray-cool-2');
      // min-height: 80vh;
      justify-content: space-around;

       & h3 {
          text-align: center;
        }

      & .content-container {
        @include grid-container;
        flex-flow: column nowrap;
      }

      & .content-container .split-paragraph {
        display: flex;
        flex-direction: row;
        background-color: color('blue-warm-60v');

        p {
          padding: 0 20px;
          width: 50%;
        }
      }
      & button {
        background-color: white;
      }
   }

   &.challenge-intro--card-content {
    background: color('gray-cool-2');
    

    & .content-container {
      @include grid-container;
      flex-flow: column nowrap;
      align-items: flex-start;
    }

    h2, 
    .card-container, 
    button {
      align-self: center;
    }

    h5 {
      margin-bottom: 0;
      font-size: 1.25rem;
    }

    & .card-container {
      margin-top: -70px;
    }
  
    & .active-phase {
      position: relative;
      top: 60px;
      right: 40px;
      z-index: 1;
      width: 10%;
    }

    & .usa-card__container {
      border-color: color('blue-warm-60v');
      color: color('blue-warm-60v');
      background: color('gray-cool-2');
      justify-content: space-between;
    }
  
    & .usa-card__img img {
      aspect-ratio: 1;
      background: color('gray-cool-2');
  
    }

    & .usa-card__footer button {
      background: color('gray-cool-2');
      color: color('blue-warm-60v');
      border: color('blue-warm-60v') 2px solid;
    }
    li.usa-card:nth-child(1) > div:nth-child(1) > div:nth-child(3) > button:nth-child(1) {
      color: color('gray-cool-2');
      background-color: color('blue-warm-60v');
      border: none;
     }
     
  }


 }

  footer {
    padding: 0;
  }

  .footer-vertical-mobile.mobile-only {
      @include at-media('desktop') {
        // media query that hides after x screen width
        display: none;
      }
    }

 .footer-horizontal {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: color('blue-warm-60v');
    color: color('gray-cool-2');
    width: 100%;
 }

  // media query
  @media screen and (max-width: 1024px) {
    // for direct children
    & .desktop {
      display: none;
     }

    & .bar {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding-top: 2rem;

      & .bar--text {
        display: none;
      }
    }

    & header {
      &.splash {
        margin-top: 175px;
        flex-direction: column;
        .scrolling-words-container, p {
          @include u-padding-x(2);
        }


        figure {
          min-width: 100%;
        }
      }

      &.splash-secondary {
        order: 2;
        @include u-padding-x(2);
        text-align: left;
        color: color('blue-warm-60v');

        figure {
          display: none;
        }
      }
    }

    & section {
      &.challenge-intro--mobile {
        order: 1;
        text-align: left;

        div {
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
        }
      }
    }

    & footer {
      order: 99;
      & .footer-vertical-mobile {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center ;
        justify-content: center;
        border: color('blue-warm-60v') solid 1px;
        color: color('blue-warm-60v');

        & img {
          width: 100%;
        }
      }
    }

  }
}



// animation 
// https://1stwebdesigner.com/10-cool-pure-css-scrolling-text-animations/
$item-count: 7;

@keyframes scrollUp {
  @for $i from 1 through ($item-count - 1) {
    #{($i * 11) - 6%}, #{$i * 11%} {
      transform: translateY((-100% / $item-count) * $i);
    }
  }
}

// test
// accordion-intro
// accordion-phases
.test {

  #accordion-intro h4.usa-accordion__heading button {
    background-color: color('blue-warm-60v');
    color: color('gray-cool-2');
    background-blend-mode: color-burn;
  }
  #accordion-intro,
  #accordion-phases {
    & [aria-expanded="true"], 
    & [aria-expanded="false"] {
      // filter:brightness(5);
    }
  }
  #m-a1 {
    background-color: color('indigo-80v');
    color: color('gray-cool-2');
    border-bottom: 1px solid color('gray-cool-2');
  }
  #accordion-phases, #accordion-phases h4.usa-accordion__heading button, #m-a2, #m-a3, #m-a4  {
    background-color: color('indigo-cool-90');
    color: color('gray-cool-2');
    border-bottom: 1px solid color('gray-cool-2');
    margin-top: 0;
  }
  h4.usa-accordion__heading:nth-child(2) {
    border-top: color('gray-cool-2') solid 1px;
   }
   

  #accordion-phases h5 {
    color: color('gold-20v') ;
  }

  & .accordion-phases & .usa-accordion__heading {
    background: color('indigo-cool-90');

  }
}

/**********
 * BUTTONS
 ***********/

.coil-btn {
  text-decoration: none;
  padding: .3rem .5rem;
  &:hover, &:active {
    text-decoration: underline;
  }
  &__secondary-white {
    @extend .coil-btn;
    border: 1px dotted color('white');
    &:hover, &:active {
      @include u-border-color('primary-lighter');
    }
  }
  &__primary-white {
    @extend .coil-btn;
    color: color('base-darkest') !important;
    // @include u-color('base-darkest');
    @include u-bg('white');
    @include u-padding(1);
    @include u-text('uppercase');
    @include u-font('sans', 'xl');
    &:hover, &:active {
      @include u-color('base-darkest');
    }
  }
}