---
layout: blog-landing
---

<article class="post grid-container {{ page.permalink | slugify }}">
    <header class="blog-post-header display-flex flex-column">
        <div class="post-img-container">
            <img class="post-img" src="{{site.baseurl}}{{page.src}}" alt="">
        </div>
        <section class="post-header-intro">
            <h3 class="post-project post-project-{{page.tag}}">
                <a href="{{ site.baseurl }}/tag/{{ page.tag | slugify }}/"class="usa-label text-white post-project-{{page.tag | slugify}}">
                    {{ page.tag }}
                </a>
            </h3>
            <h1 class="post-title">{{page.title}}</h1>
            <p class="post-byline">
                By {% for author in page.authors %}
                {{author}}
                {% endfor %}
                on <time>{{page.date | date: "%B %-d, %Y"}}</time>
            </p>
            <p class="post-excerpt">{{ page.excerpt }}</p>
        </section>
    </header>
    <section class="post-content">
     {{ content }}
    </section>
</article>
<nav aria-label="Pagination" class="usa-pagination grid-container" id="post-pagination">
    <ul class="usa-pagination__list width-full">
        {% unless page.previous != nil %}
        <li class="flex-1">
        </li>
        {% endunless %}
        {% unless page.previous == nil %}
        <li class="usa-pagination__item  flex-1">
            <a href="{{ site.baseurl }}{{ page.previous.url }}"
                class="usa-pagination__link usa-pagination__previous-page width-full flex-justify-start"
                aria-label="Previous page">
                <img src="{{site.baseurl}}/assets/img/usa-icons-bg/arrow_back--white.svg"
                    role="img" alt="Previous" aria-hidden="true" class="usa-pagination__arrow display-block" />
                <span class="usa-pagination__link-text">Previous</span>
            </a>
        </li>
        {% endunless %}

        {% unless page.next == nil %}
        <li class="usa-pagination__item flex-1">
            <a href="{{ site.baseurl }}{{ page.next.url }}" class="usa-pagination__link usa-pagination__next-page width-full flex-justify-end" aria-label="Next page">
                <span class="usa-pagination__link-text">Next </span>
                <img src="{{site.baseurl}}/assets/img/usa-icons-bg/arrow_forward--white.svg" role="img"
                alt="Next" aria-hidden="true" class="usa-pagination__arrow display-block" />
            </a>
        </li>
        {% endunless %}
        {% unless page.next != nil %}
        <li class="flex-1">
        </li>
        {% endunless %}
    </ul>
</nav>