---
layout: base
class: home
---
<header class="coil-hero grid-row">
  <div class="coil-logo-container display-none desktop:display-flex flex-column flex-justify-center flex-align-center">
    <img class="coil-logo-img" src="{{site.baseurl}}/assets/img/logos/coil-logo-l-navy.png" alt="Census Open Innovation Labs Logo">
  </div>
  <div class="grid-col-fill height-full display-flex desktop:flex-column flex-wrap">
    <!-- add nav include here -->
    {% include coil-nav.html %}
    <p class="">Trailblazing open government through cross-sector collaboration, design, and technology.</p>
  </div>
</header>

<main id="main-content">


  <section id="our-work-section">
    <!-- projects section -->
    {% include coil-project-large.html %}
    <section class="our-work-blurb minh-card-lg desktop:minh-mobile-lg">
      <h2>Who We Are</h2>
      <p>Census Open Innovation Labs (COIL) is an office at the U.S. Census Bureau, with a portfolio of award-winning projects that continue to raise the bar for open innovation across government.</p>
    </section>

    <section>
      {% include card-group.html %}
    </section>
  </section>
  <section class="our-values">
    <div class="our-values-circle">
      <div class="outer-circle">
              <ul>
                <li class="list-style-image-v1">
                  <span>Lorem ipsum</span>
                </li>
                <li class="list-style-image-v2">
                  <span>Lorem ipsum dolor</span>
                </li>
                <li class="list-style-image-v3">
                  <span>Lorem & Ipsum</span>
                </li>
                <li class="list-style-image-v4">
                  <span>Lorem</span>
                </li>
              </ul>
        <div class="inner-circle">
          <section class="our-values-circle--text">
            <h2>Our Capabilities</h2>
            <a href="{{ site.baseurl }}/about">Explore</a>
          </section>
        </div>
      </div>
    </div>
  </section>
  <div class="desktop:display-none capabilities-container">
    {% include coil-capabilities-section.html %}
    <a class="coil-btn display-inline-block" href="#" target="_blank">Explore</a>
  </div>
</main>
<div class="combined-footer">
  {% include coil-collaborate-section.html %}
  {% include coil-footer.html %}
</div>