---
layout: orphan-page
class:
---

<header class="bar">
    <div>
        <p>The Challenge: Supply Chain</p>
    </div>
    <div class="logo-container">
        <img src="" alt="stat logo" class="logo-img-blue">
        <img src="" alt="stat logo" class="logo-img-white">
    </div>
    <div>
        <p>Submit Your Idea October 15</p>
    </div>
</header>

<header class="splash">
    <img src="" alt="">
    <h1 class="visually-hidden">The future of data</h1>
    <section class="scrolling-words-container">
        <span>The future of </span>
        <div class="scrolling-words-box">
            <ul>
                <li>hummus</li>
                <li>lumber</li>
                <li>garage doors</li>
                <li>refrigerators</li>
                <li>sriracha</li>
                <li>microchips</li>
                <li>it</li>
            </ul>
        </div>
        <span>data.</span>
    </section>
    <p>StatVentures is building a pipeline of technology through collaborations with innovators outside government to ensure the U.S. Census Bureau provides quality data more efficiently, creatively, and effectively.</p>
    <button type= "button" class="usa-button usa-button--outline">Bring Us the Goods</button>
</header>

<section class="challenge-intro--mobile mobile-only"> <!-- visible only on mobile -->
    <div>
        <h4>Supply Chain Challenge</h4>
        <h2>###MOBILE#### Data is greater than the sum of its parts.</h2>
        <h3>Help us identify & use new ways to produce more <strong>timely, granular, and robust</strong> information about our nation's supply chain infrastructure.</h3>
        <p>In order to support the nation’s need for information on critical goods, the U.S. Census Bureau seeks to improve its capability to measure the end-to-end flow of goods through the supply chain</p>
    </div>

    <div>sliding content</div>
    <button type= "button" class="usa-button usa-button--outline">Accept our challenge</button>
</section>

<section>
    <div>
        <h2>Data is greater than the sum of its parts.</h2>
        <p>Your new concepts and technologies could ultimately become our next data sources. StatVentures is a program of the <a href="http://coil.census.gov">Census Open Innovation Labs</a> at the <a href="http://www.census.gov">U.S. Census Bureau</a>.</p>
    </div>
    <img src="" alt="">
</section>

<section class="challenge-intro--desktop">
    <!-- visible only in tablet/desktop-->
    <div>
        <h3>Supply Chain Challenge</h3>
        <h2>How Might We</h2>
        <p>identify +</p>
        <button type= "button" class="usa-button usa-button--outline">Apply</button>
    </div>
    <div>
        <h2>Fresh, new data in 3, 2, 1</h2>
        <div>sliding content</div>
        <p>StatVentures challenges help us iteratively test and fund cutting-edge technologies and ideas, while providing direct partnership and feedback from the Census Bureau to make government adoption of new approaches faster and easier</p>
        <div>
            <h5>Phase 1: Concept</h5>
            <p>Propose an idea to improve U.S. Census data sources. The most innovative and promising ideas submitters are selected to join the StatVentures cohort and receive a monetary award to participate. </p>
            <h5>Phase 2: Roadmap</h5>
            <p>Demonstrate the capability and capacity of your idea, with direct collaboration and feedback from the U.S. Census Bureau team. Finalists are selected and receive funding awards to move from roadmap to prototype. Missed phase 1? Don’t worry, new “walk on” teams have the opportunity to join in phases 2 and 3.</p>
            <h5>Phase 3: Demo</h5>
            <p>Build a prototype and test the idea in real world scenarios. Demos are evaluated on their potential to serve the U.S. Census Bureau’s mission and goals, and ultimately have the opportunity to be awarded additional funds and pursue business prospects with the U.S. Census Bureau.</p>
        </div>
        <button type= "button" class="usa-button usa-button--outline">Accept our challenge</button>
    </div>

</section>

<footer>
    <!-- ? What's the language for the footer going to be? -->
    <section> <!-- mobile only -->
        <!-- using CSS grid -->
        <p>at the Census B</p>
    </section>

    <section> <!-- tablet / desktop only -->
        <p>An initiative of the Census Open Innovation Labs at the U.S. Census Bureau.</p>
    </section>
</footer>