---
layout: orphan-page
class:
---

<header class="bar">
    <div>
        <p>The Challenge: Supply Chain</p>
    </div>
    <div class="logo-container">
        <img src="/assets/img/statventures/logos/Stacked_Blue_StatVentures.png" alt="stat logo" class="logo-img-blue">
        <!-- <img src="" alt="stat logo" class="logo-img-white"> -->
    </div>
    <div>
        <p>Submit Your Idea October 26</p>
    </div>
</header>

<header class="splash">
    <figure>
        <img src="/assets/img/statventures/photos/data-processor-img.png" alt="">
        <figcaption>Image Source:: US Census Bureau</figcaption>
    </figure>
    <section>
        <h1 class="visually-hidden">The future of data</h1>
        <section class="scrolling-words-container">
            <span>The future of </span>
            <div class="scrolling-words-box">
                <ul>
                    <li>hummus</li>
                    <li>lumber</li>
                    <li>garage doors</li>
                    <li>refrigerators</li>
                    <li>sriracha</li>
                    <li>microchips</li>
                    <li>it</li>
                </ul>
            </div>
            <span>data.</span>
        </section>
        <p>StatVentures is building a pipeline of technology through collaborations with innovators outside government to
            ensure the U.S. Census Bureau provides quality data more efficiently, creatively, and effectively.</p>
        <button type="button" class="usa-button usa-button--outline">Bring Us the Goods</button>
    </section>
</header>

<header class="splash-secondary">
    <section>
        <h2>You're essential to our calculation.</h2>
        <p>Your new concepts and technologies could ultimately become our next data sources. StatVentures is a program of the <a href="http://coil.census.gov">Census Open Innovation Labs</a> at the <a href="http://www.census.gov">U.S. Census Bureau</a>.</p>
    </section>
    <figure>
        <img src="/assets/img/statventures/photos/population-counter-img.png" alt="Population count machine displaying the current population of the US as 206751918">
        <figcaption>Image Source:: Library of Congress</figcaption>
    </figure>
</header>

<section class="challenge-intro--mobile mobile-only"> <!-- visible only on mobile -->
    <div>
        <h4>Supply Chain Challenge</h4>
        <h2>###MOBILE#### Data is greater than the sum of its parts.</h2>
        <h3>Help us identify & use new ways to produce more <strong>timely, granular, and robust</strong> information about our nation's supply chain infrastructure.</h3>
        <p>In order to support the nation’s need for information on critical goods, the U.S. Census Bureau seeks to improve its capability to measure the end-to-end flow of goods through the supply chain</p>
    </div>

    <div>sliding content</div>
    <button type= "button" class="usa-button usa-button--outline">Accept our challenge</button>
</section>

<section class="challenge-intro--static-content">
    <div>
        <h2>Data is greater than the sum of its parts.</h2>
        <h3>Help us identify & use new ways to produce more <strong>timely, granular, and robust</strong> information
            about our nation's supply chain infrastructure.</h3>
        <div class="content-container">
            <p>In order to support the nation’s need for information on critical goods, the U.S. Census Bureau seeks to improve its capability to measure the end-to-end flow of goods through the supply chain. We primarily collect information on the</p>
            <p>domestic movement of goods through surveys and shipment records provided by businesses across America. We
                would like to explore additional ways to improve or replace current products and methodologies</p>
        </div>
    </div>
    <img src="" alt="">
</section>

<section class="challenge-intro--desktop">
    <!-- visible only in tablet/desktop-->
    <div>
        <h2>Fresh, new data in 3, 2, 1</h2>
        <div class="margin-2 card-container">
            <img  class= "active-phase" src="/assets/img/statventures/icons/star.png" alt="">
            <ul class="usa-card-group">
                <li class="usa-card tablet:grid-col-4 usa-card--header-first">
                    <div class="usa-card__container display-flex flex-column flex-align-center">
                        <div class="usa-card__header">
                            <h2 class="usa-card__heading">Phase 1 Concept</h2>
                        </div>
                        <div class="usa-card__media usa-card__media--inset">
                            <div class="usa-card__img">
                                <img src="/assets/img/statventures/icons/phase1.png" alt="A placeholder image" />
                            </div>
                        </div>
                        <!-- <div class="usa-card__body">
                    <p>
                        Propose an idea to improve U.S. Census data sources. The most innovative and promising ideas are selected to be in the StatVentures cohort and receive a monetary award.
                    </p>
                </div> -->
                        <div class="usa-card__footer">
                            <button type="button" class="usa-button">$15000<br>October to November</button>
                        </div>
                    </div>
                </li>
                <li class="usa-card tablet:grid-col-4 usa-card--header-first">
                    <div class="usa-card__container display-flex flex-column flex-align-center">
                        <div class="usa-card__header">
                            <h2 class="usa-card__heading">Phase 2 Roadmap</h2>
                        </div>
                        <div class="usa-card__media usa-card__media--inset">
                            <div class="usa-card__img">
                                <img src="/assets/img/statventures/icons/phase2.png" alt="A placeholder image" />
                            </div>
                        </div>
                        <!-- <div class="usa-card__body">
                    <p>
                        Demonstrate the capability and capacity of your idea, with direct collaboration and feedback from the U.S. Census Bureau team. Finalists are selected and receive funding awards to move from roadmap to prototype. Missed phase 1? Don’t worry, new “walk on” teams have the opportunity to join in phases 2 and 3.
                    </p>
                </div> -->
                        <div class="usa-card__footer">
                            <button type="button" class="usa-button">$30000<br>November to December</button>
                        </div>
                    </div>
                </li>
                <li class="usa-card tablet:grid-col-4 usa-card--header-first">
                    <div class="usa-card__container display-flex flex-column flex-align-center">
                        <div class="usa-card__header">
                            <h2 class="usa-card__heading">Phase 3 Demo</h2>
                        </div>
                        <div class="usa-card__media usa-card__media--inset">
                            <div class="usa-card__img">
                                <img src="/assets/img/statventures/icons/phase3.png" alt="A placeholder image" />
                            </div>
                        </div>
                        <!-- <div class="usa-card__body">
                    <p>
                        Build a prototype and test the idea in real world scenarios. Demos are evaluated on their potential to serve the U.S. Census Bureau’s mission and goals, and ultimately have the opportunity to be awarded additional funds and pursue business prospects with the U.S. Census Bureau.
                    </p>
                </div> -->
                        <div class="usa-card__footer">
                            <button type="button" class="usa-button">$40000<br> December to January</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div> 
        <p>StatVentures challenges help us iteratively test and fund cutting-edge technologies and ideas, while providing direct partnership and feedback from the Census Bureau to make government adoption of new approaches faster and easier</p>
        <div>
            <h5>Phase 1: Concept</h5>
            <p>Propose an idea to improve U.S. Census data sources. The most innovative and promising ideas submitters are selected to join the StatVentures cohort and receive a monetary award to participate. </p>
            <h5>Phase 2: Roadmap</h5>
            <p>Demonstrate the capability and capacity of your idea, with direct collaboration and feedback from the U.S. Census Bureau team. Finalists are selected and receive funding awards to move from roadmap to prototype. Missed phase 1? Don’t worry, new “walk on” teams have the opportunity to join in phases 2 and 3.</p>
            <h5>Phase 3: Demo</h5>
            <p>Build a prototype and test the idea in real world scenarios. Demos are evaluated on their potential to serve the U.S. Census Bureau’s mission and goals, and ultimately have the opportunity to be awarded additional funds and pursue business prospects with the U.S. Census Bureau.</p>
        </div>
        <button type= "button" class="usa-button usa-button--outline">Accept our challenge</button>
    </div>

</section>

<footer>
    <!-- ? What's the language for the footer going to be? -->
    <section> <!-- mobile only -->
        <!-- using CSS grid -->
        <p>at the Census B</p>
    </section>

    <section> <!-- tablet / desktop only -->
        <p>An initiative of the Census Open Innovation Labs at the U.S. Census Bureau.</p>
    </section>
</footer>