---
layout: orphan-page
class:
---
<!-- !GTG -->
<header class="bar">
    <div class="bar--text">
        <p>The Challenge: Supply Chain</p>
    </div>
    <div class="logo-container">
        <img src="{{ site.baseurl }}/assets/img/statventures{{page.bar.img}}" alt="StatVentures logo" class="logo-img-blue">
        <!-- <img src="" alt="stat logo" class="logo-img-white"> -->
    </div>
    <div class="bar--text">
        <p>Submit Your Idea October 26</p>
    </div>
</header>
<!-- !GTG -->
<header class="splash">
    <figure>
        <img src="{{ site.baseurl }}/assets/img/statventures{{page.splash.img}}" alt="">
        <!-- <figcaption>Image Source: US Census Bureau</figcaption> -->
    </figure>
    <section>
        <h1 class="visually-hidden">The future of data.</h1>
        <section class="scrolling-words-container">
            <span>The future of </span>
            <div class="scrolling-words-box">
                <ul>
                    <li>hummus</li>
                    <li>lumber</li>
                    <li>garage door</li>
                    <li>refrigerator</li>
                    <li>sriracha</li>
                    <li>microchip</li>
                    <li>hummus</li>
                </ul>
            </div>
            <span>data.</span>
        </section>
        <p>StatVentures scouts technology through collaborations with innovators outside government to ensure the U.S. Census Bureau provides quality data more efficiently, creatively and effectively.</p>
        <button type="button" class="usa-button usa-button--outline"><a href="http://statventuresinfosession.splashthat.com" target="_blank"> Bring Us the Goods</a></button>
    </section>
</header>
<!-- !GTG -->
<header class="splash-secondary">
    <section>
        <h2>You're essential to our calculation.</h2>
        <p>Your concept for new technology could win you $10,000, a spot in our elite innovator cohort and ultimately become our next data sources. StatVentures is a program of the <a href="http://coil.census.gov">Census Open Innovation Labs</a> at the <a href="http://www.census.gov">U.S. Census Bureau</a>.</p>
    </section>
    <figure class="desktop">
        <img src="/assets/img/statventures/photos/population-counter-img.png" alt="Population count machine displaying the current population of the US as 206751918">
        <figcaption>Image Source: Library of Congress</figcaption>
    </figure>
</header>
<!-- !GTG -->
<section class="challenge-intro--mobile mobile-only"> <!-- visible only on mobile -->
    <div>
        <h4>Supply Chain Challenge</h4>
        <h2>###MOBILE#### Data is greater than the sum of its parts.</h2>
        <h3>Help us identify & use new ways to produce more <strong>timely, granular, and robust</strong> information about our nation’s supply chain infrastructure.</h3>
        <p>In order to support the nation’s need for information on critical goods, the U.S. Census Bureau seeks to improve its capability to measure the flow of goods through the supply chain. We primarily collect information on the domestic movement of goods through surveys and shipment records provided by businesses across America. We’re seeking new ways to improve or replace current data sources and methodologies.</p>
    </div>

    <div>accordion content</div>
    <button type= "button" class="usa-button usa-button--outline">Prepare your application</button>
</section>
<!-- !GTG -->
<section class="challenge-intro--static-content desktop">
    <!-- tablet/desktop only -->
    <div class="content-container">
        <p>Supply Chain Challenge</p>
        <h2>Data is greater than the sum of its parts.</h2>
        <h3>Help us identify & use new ways to produce more <strong>timely, granular, and robust</strong> information
            about our nation's supply chain infrastructure.</h3>
        <div class="content-container split-paragraph">
            <p>In order to support the nation’s need for information on critical goods, the U.S. Census Bureau seeks to improve its capability to measure the end-to-end flow of goods through the supply chain. We primarily collect information on the</p>
            <p>domestic movement of goods through surveys and shipment records provided by businesses across America. We’re seeking new ways to improve or replace current data sources and methodologies.</p>
        </div>
    </div>
    <button type= "button" class="usa-button usa-button--outline">Prepare your application</button>
</section>
<!-- !GTG -->
<section class="challenge-intro--card-content desktop">
    <!-- visible only in tablet/desktop-->
    <div class="content-container">
        <h2>Fresh, new data in 3, 2, 1</h2>
        <div class="card-container">
            <img class="active-phase" src="/assets/img/statventures/icons/star.png" alt="">
            <ul class="usa-card-group">
                <li class="usa-card tablet:grid-col-4 usa-card--header-first">
                    <div class="usa-card__container display-flex flex-column flex-align-center">
                        <div class="usa-card__header">
                            <h2 class="usa-card__heading">Phase 1 Concept</h2>
                        </div>
                        <div class="usa-card__media usa-card__media--inset">
                            <div class="usa-card__img">
                                <img src="/assets/img/statventures/icons/phase1.png" alt="A placeholder image" />
                            </div>
                        </div>

                        <div class="usa-card__footer">
                            <button type="button" class="usa-button">October to January</button>
                        </div>
                    </div>
                </li>
                <li class="usa-card tablet:grid-col-4 usa-card--header-first">
                    <div class="usa-card__container display-flex flex-column flex-align-center">
                        <div class="usa-card__header">
                            <h2 class="usa-card__heading">Phase 2 Roadmap</h2>
                        </div>
                        <div class="usa-card__media usa-card__media--inset">
                            <div class="usa-card__img">
                                <img src="/assets/img/statventures/icons/phase2.png" alt="A placeholder image" />
                            </div>
                        </div>
                        <div class="usa-card__footer">
                            <button type="button" class="usa-button">Early 2023</button>
                        </div>
                    </div>
                </li>
                <li class="usa-card tablet:grid-col-4 usa-card--header-first">
                    <div class="usa-card__container display-flex flex-column flex-align-center">
                        <div class="usa-card__header">
                            <h2 class="usa-card__heading">Phase 3 Test</h2>
                        </div>
                        <div class="usa-card__media usa-card__media--inset">
                            <div class="usa-card__img">
                                <img src="/assets/img/statventures/icons/phase3.png" alt="A placeholder image" />
                            </div>
                        </div>

                        <div class="usa-card__footer">
                            <button type="button" class="usa-button">Late 2023</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="content-container">
            <p>StatVentures challenges help us iteratively test and fund cutting-edge technologies and ideas, while providing direct partnership and feedback from the Census Bureau to make government adoption of new approaches faster and easier.</p>
            <h5>Phase 1: Concept</h5>
            <p>Propose an idea to improve U.S. Census data sources. 10 of the most innovative and promising ideas will be awarded $10,000 and their submitters will be invited to join the inaugural StatVentures cohort.</p>
            <h5>Phase 2: Roadmap</h5>
            <p>Iterate on your idea from phase 1, with direct collaboration and feedback from the U.S. Census Bureau team. Finalists with the most promising roadmaps will receive awards to move from plan to prototype. Missed phase 1? Don’t worry, new “walk on” teams have the opportunity to join in phases 2 and 3.</p>
            <h5>Phase 3: Test</h5>
            <p>Build your prototype and test it in real-world scenarios. Prototype demos are evaluated on their potential to serve the U.S. Census Bureau’s mission and goals, and ultimately have the opportunity to be awarded additional funds and pursue adoption by the U.S. Census Bureau.</p>
        </div>
        <button type="button" class="usa-button usa-button--outline">Ready for action? Learn more</button>
    </div>
</section>
<!-- !dbc -->
<section class="pre-footer-mobile mobile-only">
    <!-- mobile pre-footer -->
    <img src="" alt="">
</section>

<footer>
    <section class="footer-vertical-mobile mobile-only"> <!-- mobile only -->
        <!-- using CSS grid -->
        <img src="{{ site.baseurl }}/assets/img/statventures{{page.footer-vertical-mobile.img}}" alt="StatVentures is a program of CENSUS OPEN INNOVATION LABS at the U.S. Census Bureau.">
        <p>at the U.S. Census Bureau.</p>
    </section>

    <section class="footer-horizontal desktop"> <!-- tablet / desktop only -->
        <p>StatVentures is a program of</p>
        <p>CENSUS OPEN INNOVATION LABS</p>
        <p>at the U.S. Census Bureau.</p>
        <img src="{{ site.baseurl }}/assets/img/statventures{{page.footer-horizontal-desktop.icon}}" alt="">
    </section>
</footer>