---
layout: base
class:
---
<!-- !GTG -->
<header class="bar">
    <div class="bar--text">
        <p>Current Challenge: Supply Chain</p>
    </div>
    <div class="logo-container">
        <img src="{{ site.baseurl }}/assets/img/statventures{{page.bar.img}}" alt="StatVentures logo" class="logo-img-blue">
        <!-- <img src="" alt="stat logo" class="logo-img-white"> -->
    </div>
    <div class="bar--text">
        <p>Launching Soon: Address Geolocation Challenge Phase 1</p>
    </div>
</header>

<!-- !GTG -->
<header class="splash">
    <figure>
        <img class="desktop" src="{{ site.baseurl }}/assets/img/statventures{{page.splash.img}}" alt="StatVentures Census Open Innovation Labs" data-proofer-ignore >
        <img class="mobile-only" src="{{ site.baseurl }}/assets/img/statventures{{page.splash.img-tablet}}" alt="StatVentures Census Open Innovation Labs" data-proofer-ignore>
        <!-- <figcaption>Image Source: US Census Bureau</figcaption> -->
    </figure>
    <section class="content-container">
        <h1 class="visually-hidden">The future of data.</h1>
        <section class="scrolling-words-container">
            <span>The future of </span>
            <div class="scrolling-words-box">
                <ul>
                    <li>Census Bureau</li>
                    <li>microchip</li>
                    <li>sriracha</li>
                    <li>supply chain</li>
                    <li>parcel</li>
                    <li>address</li>
                    <li>Census Bureau</li>
                </ul>
            </div>
            <span>data.</span>
        </section>
        <p>StatVentures scouts technology through collaborations with innovators outside government to ensure the U.S. Census Bureau provides quality data more efficiently, creatively, and effectively.</p>
        <a class="statventures-btn" href="https://public.govdelivery.com/accounts/USCENSUS/signup/38054" target="_blank">Subscribe to Updates</a>
    </section>
</header>
<!-- !GTG -->
<header class="splash-secondary">
    <section>
        <h2>You're essential to our calculation.</h2>
        <p>StatVentures tests and funds cutting-edge technologies and ideas, while providing direct partnership and feedback from the Census Bureau to make government adoption of new approaches faster and easier.</p>
    </section>
    <figure class="desktop">
        <img src='{{ site.baseurl }}/assets/img/statventures{{page.splash-secondary.img}}' alt="Population count machine displaying the current population of the US as 206751918 Source: Library of Congress">
        <figcaption>Image Source: Library of Congress</figcaption>
    </figure>
</header>
<!-- !GTG -->
<section class="challenge-intro--mobile mobile-only"> <!-- visible only on mobile -->
    <div class="content-container">
        <h2>Data is greater than the sum of its parts.</h2>
        <h3>Compete for funding, participation in an elite cohort of technologists, and ultimately, government adoption in our open
        challenges.</h3>
        <p>Help us identify and use new ways to produce more timely, granular, and robust data.</p>
    </div>

        <div class="active-challenges display-flex width-full">
            {% for challenge in page.active-challenges %}
            <div class="{{challenge.class}} width-full">
                <div class="active-challenge-details content-container">
                    <div class="active-challenge-img-container">
                        <img src="{{ site.baseurl }}/assets/img/statventures{{challenge.mobile-img}}" alt="{{challenge.img-alt}}" class="active-challenge-img">
                    </div>
                    <div class="active-challege-content width-full">
                        <h3 class="display-none">{{challenge.phase-status}}</h3>
                        <h2>{{challenge.challenge-name}}</h2>
                        <p>{{challenge.details}}</p>
                        <a class="statventures-btn" href="https://www.challenge.gov/?challenge=statventures-supply-chain-p2"
                            target="_blank">{{challenge.button.text}}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    <div id="accordion-container" class="width-full">
        <div class="usa-accordion usa-accordion--multiselectable" id="accordion-phases" data-allow-multiple>
            <h3>Phases</h3>
            <h4 class="usa-accordion__heading">
                <button type="button" class="usa-accordion__button" aria-expanded="true" aria-controls="m-a2">
                    Phase 01 Concept
                </button>
            </h4>
            <div id="m-a2" class="usa-accordion__content usa-prose">
                <h5>Complete</h5>
                <p>
                    Propose an idea to improve U.S. Census data sources. In Spring 2023, ten of the most innovative and promising ideas were
            awarded $10,000 each and invited to join the Phase 2 cohort.
                </p>
            </div>
            <h4 class="usa-accordion__heading">
                <button type="button" class="usa-accordion__button" aria-expanded="false" aria-controls="m-a3">
                    Phase 02 Roadmap
                </button>
            </h4>
            <div id="m-a3" class="usa-accordion__content usa-prose">
                <h5>Open Now</h5>
                <p>
                    Iterate on your idea from Phase 1, with insight and feedback from supply chain data experts. Teams will be challenged to develop a clear implementation roadmap and articulate a value proposition. Finalists with the most
            promising roadmaps will receive awards to move to Phase 3.
                </p>
            </div>
            <h4 class="usa-accordion__heading">
                <button type="button" class="usa-accordion__button" aria-expanded="false" aria-controls="m-a4">
                    Phase 03 Test
                </button>
            </h4>
            <div id="m-a4" class="usa-accordion__content usa-prose">
                <h5>2024</h5>
                <p>
                    Test your roadmap in a real-world scenario. Prototype demos are evaluated on their potential to serve the U.S. Census
            Bureau’s mission and goals, and ultimately have the opportunity to be awarded additional funds and pursue adoption by
            the U.S. Census Bureau. Missed Phase 2? Don’t worry, new “walk on” teams have the opportunity to join in Phase 3.
                </p>
            </div>
        </div>
    </div>
    <!-- <a class="statventures-btn" href="https://www.challenge.gov/?challenge=statventures-supply-chain-p2" target="_blank">View Phase 2 on challenge.gov</a> -->
</section>
<!-- !GTG -->
<section class="challenge-intro--static-content desktop">
    <!-- tablet/desktop only -->
    <div class="content-container">
        <h2 class="text-center">Data is greater than the sum of its parts.</h2>
        <h3>Compete for funding, participation in an elite cohort of technologists, and ultimately, government adoption in our open
        challenges.</h3>
        <div class="content-container split-paragraph">
            <p>Help us identify and use new ways to produce more <strong>timely, granular, and robust</strong> data.</p>
        </div>
    </div>
    <!-- <a class="statventures-btn" href="https://www.challenge.gov/?challenge=statventures-supply-chain-p2" target="_blank">View Phase 2 on challenge.gov</a> -->
    <div class="active-challenges display-flex width-full">
        {% for challenge in page.active-challenges %}
        <div class="{{challenge.class}} width-full">
            <div class="active-challenge-banner bg-green">
                <div class="content-container">
                    <h3>{{challenge.banner}}</h3>
                </div>
            </div>
            <div class="active-challenge-details content-container">
                <div class="active-challege-content width-full">
                    <h3 class="display-none">{{challenge.phase-status}}</h3>
                    <h2>{{challenge.challenge-name}}</h2>
                    <p>{{challenge.details}}</p>
                    <a class="statventures-btn" href="https://www.challenge.gov/?challenge=statventures-supply-chain-p2" target="_blank">{{challenge.button.text}}</a>
                </div>
                <div class="active-challenge-img-container">
                    <img src="{{ site.baseurl }}/assets/img/statventures{{challenge.desktop-img}}" alt="{{challenge.img-alt}}"  class="active-challenge-img">
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<!-- <section class="winners display-flex flex-column">
    <div class="display-flex flex-justify-center desktop:flex-justify-start winner-content-wrapper">
        <div class="winner-content">
            <h2>Meet the Supply Chain Challenge
                Phase 1 Winners</h2>
            <a class="statventures-btn"
                href="{{ site.baseurl }}/assets/files/statventures-supply-chain-phase1-winners.pdf" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    aria-labelledby="download-icon" role="img">
                    <title id="download-icon">Download Icon</title>
                    <path
                        d="M19 12v7H5v-7H3v7c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-7h-2zm-6 .67 2.59-2.58L17 11.5l-5 5-5-5 1.41-1.41L11 12.67V3h2z" />
                </svg>
                View Winners
            </a>
        </div>
    </div>
</section> -->
<!-- !GTG -->
<section class="challenge-intro--card-content desktop">
    <!-- visible only in tablet/desktop-->
    <div class="content-container">
        <h2>Fresh, new data in 3, 2, 1</h2>
        <div class="card-container">
            <ul class="usa-card-group">
                <li class="usa-card tablet:grid-col-4 usa-card--header-first">
                    <div class="usa-card__container display-flex flex-column flex-align-center">
                        <div class="usa-card__header">
                            <h2 class="usa-card__heading">Phase 1 Concept</h2>
                        </div>
                        <div class="usa-card__media usa-card__media--inset">
                            <div class="usa-card__img phase-1-img">
                                <img src="{{ site.baseurl }}/assets/img/statventures{{page.challenge-intro-card-content.phase-1.icon}}" alt="" data-proofer-ignore/>
                            </div>
                        </div>

                        <div class="usa-card__footer">
                            <div class="usa-button">Complete</div>
                        </div>
                    </div>
                </li>
                <li class="usa-card tablet:grid-col-4 usa-card--header-first">
                    <div class="usa-card__container display-flex flex-column flex-align-center">
                        <div class="usa-card__header">
                            <h2 class="usa-card__heading">Phase 2 Roadmap</h2>
                        </div>
                        <div class="usa-card__media usa-card__media--inset">
                            <div class="usa-card__img phase-2-img">
                                <img src="{{ site.baseurl }}/assets/img/statventures{{page.challenge-intro-card-content.phase-2.icon}}" alt="" data-proofer-ignore="" />
                            </div>
                        </div>
                        <div class="usa-card__footer">
                            <div class="usa-button">Open Now</div>
                        </div>
                    </div>
                </li>
                <li class="usa-card tablet:grid-col-4 usa-card--header-first">
                    <div class="usa-card__container display-flex flex-column flex-align-center">
                        <div class="usa-card__header">
                            <h2 class="usa-card__heading">Phase 3 Test</h2>
                        </div>
                        <div class="usa-card__media usa-card__media--inset">
                            <div class="usa-card__img phase-3-img">
                                <img src="{{ site.baseurl }}/assets/img/statventures{{page.challenge-intro-card-content.phase-3.icon}}" alt="" data-proofer-ignore="" />
                            </div>
                        </div>

                        <div class="usa-card__footer">
                            <div class="usa-button">2024</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="content-container">
            <h5>Phase 1: Concept</h5>
            <p>Propose an idea to improve U.S. Census data sources. Teams with the most innovative and promising ideas will be awarded
            $10,000 and an invitation to join the Phase 2 StatVentures cohort.</p>
            <h5>Phase 2: Roadmap</h5>
            <p>Iterate on your idea from phase 1, with insight and feedback from supply chain data Census Bureau experts. Teams are
            challenged to develop a clear implementation roadmap and articulate a value proposition. Finalists with the most
            promising roadmaps will receive awards and be invited to join the Phase 3 cohort. Missed Phase 1? Don’t worry, new
            “walk-on” teams have the opportunity to join in Phase 2.</p>
            <h5>Phase 3: Test</h5>
            <p>Test your roadmap in a real-world scenario. Prototype demos are evaluated on their potential to serve the U.S. Census Bureau’s mission and goals, and ultimately have the opportunity to be awarded additional funds and pursue adoption by the U.S. Census Bureau.</p>
        </div>
        <!-- <a class="statventures-btn" href="https://www.challenge.gov/?challenge=statventures-supply-chain-p2" target="_blank">Accept Our Challenge</a> -->
    </div>
</section>
<!-- !dbc -->
<footer>
    <section class="footer-horizontal"> <!-- tablet / desktop only -->
        <p class="desktop all-caps">StatVentures is a program of</p>
        <p class="desktop coil-logo-text-treatment"><span>CENSUS</span> <span>OPEN</span> <span>INNOVATION</span> <span>LABS</span></p>
        <p class="desktop">at the U.S. Census Bureau.</p>
        <img src="{{ site.baseurl }}/assets/img/statventures{{page.footer-horizontal-desktop.icon}}" alt="">
    </section>
    <section
    class="footer-section-bottom usa-media-block__footer grid-row display-flex flex-align-center padding-y-4"
  >
    {% for link in site.data.navigation.footer %}
      <a href="{% unless link.isExternal %}{{ site.baseurl }}/{% endunless %}{{ link.href }}"
        class="border-base-dark
          {% unless forloop.first %} border-left padding-left-2 {% endunless %}
          {% unless forloop.last %} padding-right-2 {% endunless %}
        "
      >{{ link.text }}</a>
    {% endfor %}
    </section>
</footer>
