---
layout: orphan-page
class:
---


<div class="usa-accordion usa-accordion--multiselectable" data-allow-multiple>
    <h4 class="usa-accordion__heading">
        <button type="button" class="usa-accordion__button" aria-expanded="true" aria-controls="m-a1">
            In order to...
        </button>
    </h4>
    <div id="m-a1" class="usa-accordion__content usa-prose">
        <p>
            support the nation’s need for information on critical goods, the U.S. Census Bureau seeks to improve its capability to measure the end-to-end flow of goods through the supply chain. We primarily collect information on  the domestic movement of goods through surveys and shipment records provided by businesses across America. We would like to explore additional ways to improve or replace current products and methodologies. 
        </p>
    </div>
    <h3>Phases</h3>
    <h4 class="usa-accordion__heading">
        <button type="button" class="usa-accordion__button" aria-expanded="false" aria-controls="m-a2">
            Phase 01 Concept
        </button>
    </h4>

    <div id="m-a2" class="usa-accordion__content usa-prose">
        <h5>October to January</h5>
        <p>
            Propose an idea to improve U.S. Census data sources. The most innovative and promising ideas submitters are selected to join the StatVentures cohort and receive a monetary award to participate. 
        </p>
    </div>
    <h4 class="usa-accordion__heading">
        <button type="button" class="usa-accordion__button" aria-expanded="false" aria-controls="m-a3">
            Phase 02 Roadmap
        </button>
    </h4>
    <div id="m-a3" class="usa-accordion__content usa-prose">
        <p>
            No Soldier shall, in time of peace be quartered in any house, without the
            consent of the Owner, nor in time of war, but in a manner to be prescribed
            by law.
        </p>
    </div>
    <h4 class="usa-accordion__heading">
        <button type="button" class="usa-accordion__button" aria-expanded="false" aria-controls="m-a4">
            Phase 03 Demo
        </button>
    </h4>
    <div id="m-a4" class="usa-accordion__content usa-prose">
        <p>
            Build a prototype and test the idea in real world scenarios. Demos are evaluated on their potential to serve the U.S. Census Bureau’s mission and goals, and ultimately have the opportunity to be awarded additional funds and pursue business prospects with the U.S. Census Bureau.
        </p>
    </div>
</div>