---
layout: orphan-page
class:
---

<div class="margin-2">
    <ul class="usa-card-group">
    <li class="usa-card tablet:grid-col-4 usa-card--header-first">
     <div class="usa-card__container display-flex flex-column flex-align-center">
        <div class="usa-card__header">
            <h2 class="usa-card__heading">Phase 1 Concept</h2>
        </div>
        <div class="usa-card__media usa-card__media--inset">
            <div class="usa-card__img">
            <img
                src="/assets/img/statventures/icons/phase1.png"
                alt="A placeholder image"
            />
            </div>
        </div>
        <!-- <div class="usa-card__body">
            <p>
                Propose an idea to improve U.S. Census data sources. The most innovative and promising ideas are selected to be in the StatVentures cohort and receive a monetary award.
            </p>
        </div> -->
        <div class="usa-card__footer">
            <button type="button" class="usa-button">$15000<br>October to November</button>
        </div>
        </div>
    </li>
    <li class="usa-card tablet:grid-col-4 usa-card--header-first">
        <div class="usa-card__container display-flex flex-column flex-align-center">
        <div class="usa-card__header">
            <h2 class="usa-card__heading">Phase 2 Roadmap</h2>
        </div>
        <div class="usa-card__media usa-card__media--inset">
            <div class="usa-card__img">
            <img
                src="/assets/img/statventures/icons/phase2.png"
                alt="A placeholder image"
            />
            </div>
        </div>
        <!-- <div class="usa-card__body">
            <p>
                Demonstrate the capability and capacity of your idea, with direct collaboration and feedback from the U.S. Census Bureau team. Finalists are selected and receive funding awards to move from roadmap to prototype. Missed phase 1? Don’t worry, new “walk on” teams have the opportunity to join in phases 2 and 3.
            </p>
        </div> -->
        <div class="usa-card__footer">
            <button type="button" class="usa-button">$30000<br>November to December</button>
        </div>
        </div>
    </li>
    <li class="usa-card tablet:grid-col-4 usa-card--header-first">
        <div class="usa-card__container display-flex flex-column flex-align-center">
        <div class="usa-card__header">
            <h2 class="usa-card__heading">Phase 3 Demo</h2>
        </div>
        <div class="usa-card__media usa-card__media--inset">
            <div class="usa-card__img">
            <img
                src="/assets/img/statventures/icons/phase3.png"
                alt="A placeholder image"
            />
            </div>
        </div>
        <!-- <div class="usa-card__body">
            <p>
                Build a prototype and test the idea in real world scenarios. Demos are evaluated on their potential to serve the U.S. Census Bureau’s mission and goals, and ultimately have the opportunity to be awarded additional funds and pursue business prospects with the U.S. Census Bureau.
            </p>
        </div> -->
        <div class="usa-card__footer">
            <button type="button" class="usa-button">$40000<br> December to January</button>
        </div>
        </div>
    </li>
    </ul>
</div>